/* ! G-E-N-E-R-A-L ! */

/* Custom Properties */
:root {
  /* Primary Colors */
  --primary-color-red: #ff7a7a;
  --primary-color-green: #38cc8c;

  /* Accent Colors */
  --accent-color-blue: #6055a5;

  /* Neutral Colors */
  --neutral-color-dark-blue: #3e3c49;
  --neutral-color-grayish-blue: #b9b6d3;
}

/* Body Styles (Background, Font, Etc.) */
body {
  display: flex;
  justify-content: center;
  background: url("../images/bg-intro-mobile.png"), var(--primary-color-red);
  font: 400 1rem Poppins, sans-serif;
}

/* Styles For Visually Hidden Elements  */
.visually-hidden:not(:focus, :active) {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ! M-A-I-N ! */

/* Greeting (Slogan + Description) */
.greeting {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  max-width: 20rem;
  color: #fff;
  text-align: center;
  margin-top: 5.75rem;
}

.greeting > .slogan {
  font: 700 1.7rem Poppins, sans-serif;
  line-height: 1.31;
}

.greeting > .description {
  line-height: 1.63;
}

/*  Free Trial Form  */
.free-trial-form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 3.9rem;
}

.free-trial-form > .description {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: var(--accent-color-blue);
  text-align: center;
  border-radius: 10px;
  padding: 1.16rem 0.05rem;
}

.free-trial-form > .description > p {
  max-width: 55%;
}
